#news .card {
  border: none;
  margin-bottom: 20px;
}
#news .card .card-block {
  padding-left: 0;
}
#news .card .card-img-bottom {
  color: #fff;
  height: 20rem;
}
#news .card .card-img-bottom .preview {
  width: 250px;
  height: 250px;
}
