* {
	margin: 0;
	padding: 0;
  }
	html, body {
		height: 100%;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		
		@import 'header.less';
				
		.content {
			flex: 1 0 auto;
			margin-top: 1%;
			
			
			.content-row-block {
			    border: 5px solid #be1c1b;
			    padding: 15px;
				margin-bottom: 3%;
			    
			    h1 {
					text-transform: uppercase;
			    }
			    
			    .breadcrumb {		
					width: 100%;
					background: transparent;
					border-bottom: 1px solid #BE1C1A;
					padding-bottom: 0px;
					padding-top: 0px;
					padding-left: 0px;
					padding-right: 0px;
					
					a {
						color: #BE1C1A;
					}
			    }
			    
			}
			
			@import 'about.less';
		}
		
		.footer {
			flex: 0 0 auto;
			height: 80px;
			
			@import 'footer.less';
		}
	}
